*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/release
/app/debug
/.idea/caches
/.idea
/*.jks
/*.jks.txt
/signing.properties
/*.apk
/*-mapping.txt
/*.apk.idsig
